<launch>

  <include file="$(find xycar_motor)/launch/xycar_motor.launch" />

  <include file="$(find usb_cam)/launch/xycar_cam.launch" />

  <include file="$(find xycar_ultrasonic)/launch/xycar_ultrasonic.launch" />

  <node name="main_controller" pkg="my_traffic" type="main.py" output="screen"/> 
  
</launch>